/*Generales*/  

#headerHero {
    background-image:url(../images/200317-229-rappi-bienvenida-mascotas-headergold.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    max-height: 500px;
}

.legal-header {
    position: absolute;
    right: 0;
    top: 115px;
    width: 100%;
    margin-right: 8px;
}

.img-centrado-general {
    display: block;
    margin: 0 auto;
}

/*header*/

.container-logo {
    width: 40%;
    margin: 0 auto;
    padding: 1rem 0;
}

/*titulo*/

h1{
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.2;
    color: #016d38;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

.comp-h1 {
    font-weight: 300;
    color: #686868;
    text-transform:initial;
}

.contenedor-h1 {
    background-color: #ffffffc0;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 0px solid #00000000;
    padding: 0px 30px;
}

.contenedor-titulo-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
}

.huellas-header {
    width: 80%;
}

/*INICIO Texto lead*/

.texto-lead {
    margin-top: 25px;
    padding: 20px;
    border-top: 2px solid #ffdc5d;
}

.texto-lead-resaltado {
    color: #016d38;
    font-style: italic;
    font-weight: 800;
}

/*FIN Texto lead*/

/*INICIO recuadro gris*/

h2 {
    text-align: center;
    font-size: 1.2rem;
    color: #016d38;
}

#bg-recuadros-gris {
    background-image:url(../images/200317-229-rappi-bienvenida-mascotas-bg-iconos.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
}

#bg-recuadros-curvo {
    background-image:url(../images/200317-229-rappi-bienvenida-mascotas-fondocurvo.png);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-position: top center;
}

.cards-gris {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 9px 9px 8px -4px rgba(0,0,0,0.12);
    -moz-box-shadow: 9px 9px 8px -4px rgba(0,0,0,0.12);
    box-shadow: 9px 9px 8px -4px rgba(0,0,0,0.12);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body-estilos {
    font-style: italic;
}

/*Acordeon*/

div.card-body-estilos ul.huesos {
    list-style-image: url('../images/200317-229-rappi-bienvenida-mascotas-bulletshueso.png');
}

.card-header {
    background-color: #016d38;
}

.btn-link {
    color: #f7f7f7;
    font-size: 1.3rem;
}

/*FIN recuadro gris*/

/*INICIO verde*/

#bg-verde {
    background-image:url(../images/200317-229-rappi-bienvenida-mascotas-seccioverde.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -410px center;
}

h2.titulo-seccion-verde {
    font-size: 2rem;
    color: #ffdc5d;
    padding: 20px 20px 5px;
    font-style: italic;
    font-weight: 600;
}

.numero-grande {
    font-size: 3rem;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    margin-top: -13px;
}

.numero-grande:hover {
    color: #ffdc5d;
}

/*FIN verde*/

/*---------------------------Estrellas--------------------------------*/
.califique {
    font-size: 20px;
    color: #016d38;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 15px;
    margin-right: 20px;
}

.inbl {
    display: inline-block;
}

.ec-stars-wrapper {
    /* Espacio entre los inline-block (los hijos, los `a`) http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
    font-size: 20;
    /* PodrÃ­amos quitarlo, pero de esta manera (siempre que no le demos padding), solo aplicara la regla .ec-stars-wrapper:hover a cuando también se está haciendo hover a alguna estrella */
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaÃ±o al texto */
    font-size: 32px;
    font-size: 3rem;
    color: #e0e0e0;
}

.ec-stars-wrapper:hover a {
    color: #ffdc5d;
}

/* El selector de hijo, es necesario para aumentar la especifidad*/

.ec-stars-wrapper > a:hover ~ a {
    color: #e0e0e0;
}

.calificacion {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    padding-bottom: 50px;
    padding-top: 10px;
    background-position: right;
    background-size: 100%;
    margin-bottom: 30px;
}
/*--------------Fin Estrellas------------------*/

/*bg estrellas*/

#bg-estrellas {
    background-image:url(../images/200317-229-rappi-bienvenida-mascotas-huellasfooter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/*vigilado*/

.vigilado {
    position: absolute;
    top: 30px;
    left: 10px;
}

/*footer*/

.texto-footer {
    background-color: #eaeaea;
    padding: 2rem 0;
    color: #686868;
    overflow: hidden;
}

@media (min-width: 425px) {
    /*Footer*/

    h1{
        font-size: 2.5rem;
    }

    .legal-header {
        top: 175px;
    }

    #headerHero {
        height: 250px;
    }
}

@media (min-width: 550px) {}

@media (min-width: 768px) {

    .container-logo {
        width: 30%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .contenedor-titulo-general {
        flex-direction: row;
        justify-content: center;
        margin-top: -40px;
    }

    .contenedor-h1 {
        padding-top: 10px;
    }

    .huellas-header {
        width: 25%;
    }

    .legal-header {
        top: 168px;
    }

    #bg-verde {
        background-position: center center;
    }

    .perro-gato {
        position: absolute;
        top: 56px;
        width: 40%;
        z-index: 3;
    }

    ul.nav-pills {
        display: flex;
        justify-content: center;
    }

    ul {
        margin-bottom: 0;
    }

    .nav-item {
        margin-top: 144px;
    }

    li.nav-item a.nav-link {
        width: 300px;
    }

    .contenedor-retros-tabs {
        border: 1px solid #016d38;
        border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        padding: 30px;
        background-color: #ffffff;
    }

    .iconos-retros {
        padding: 20px;
        width: 300px;
    }

    .container-tabs {
        margin-top: -40px;
    }

    .container-retros-tabs {
        margin-top: -8px;
    }

    .contenedor-retros-tabs ul.huesos {
        list-style-image: url('../images/200317-229-rappi-bienvenida-mascotas-bulletshueso.png');
    }

    .btn-retros-tabs {
        border: 1px solid #686868;
        background-color: #ffffff;
    }

    .btn-retros-tabs.active img{
        filter: brightness(300%);
    }

    .seccion-verde {
        height: 180px;
    }
}

@media (min-width: 850px){}

@media (min-width: 992px) {

    .perro-gato {
        top: 57px;
        width: 30%;
    }

    .cards-gris .text-primary {
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .perro-gato {
        top: 70px;
        width: 260px;
    }
}

@media (min-width: 1220px) {
    #headerHero {
        height: 330px;
    }
    
    .legal-header {
        top: 208px;
    }
}

@media (min-width: 2000px) {
    #headerHero {
        height: 610px;
    }

    .legal-header {
        top: 293px;
    }
}