:root {
    font-size: 18px;
}

//-------Colores---------
$verde: #016d38;
$amarillo: #EFB810;
$cont-amarillo: #716122;
$gris: #686868;
$blanco: #ffffff;
//---------- Fuentes ---------
$h1: 2.8rem;
$h2: 1.5rem;
$h3: 1.25rem;
$text: 1.125rem;

//---------- Font Weigth ------
$light: 300;
$regular: 400;
$bold: 600;

html {
    scroll-behavior: smooth;
    }

body {
    font-family: "Roboto Condensed", sans-serif;
    }

// ------- Headers Sizes
.h2 {
    font-weight: $bold;
    font-size: $h2;
}

.h3 {
    font-weight: $bold;
    font-size: $h3;
}

.strong {
    font-weight: $bold;
}

.text {
    font-weight: $light;
    font-size: $text;
}
// ------- Colores fuente
.verde {
    color: $verde;
}

.amarillo {
    color: $amarillo;
}

.gris {
    color: $gris;
}

// ------- Colores Background
.bg-verde {
    background-color: $verde;
}

.bg-amarillo {
    background-color: $amarillo;
}

// ------- Gaps 
    .gap-1 {
        padding: 1.2rem 0rem;
    }

// Master View
.master--view {
    background-image: url(/images/fondo.svg);
    background-repeat: repeat;
    background-size: 566px 426px;
}
// Header
.header {
    padding: 1.5rem;
}
//Slider
.slider-text {
    text-align: center;
    h1 {
        color: $gris;
        font-size: $h1;
        font-weight: $light;
        
        strong{
            color: $verde;
            font-weight: 700;
            font-size: ($h1 + 0.3);
            &::before{
                content:url(/images/hueso.png) url(/images/hueso.png) url(/images/hueso.png);
                position: relative;
                top: -7px;
                margin-right: 11px ;
            }
            &::after{
                content: url(/images/hueso.png) url(/images/hueso.png) url(/images/hueso.png);
                position: relative;
                top: -7px;
                margin-left: 11px;
            }
        }
        span {
            color: $amarillo;
        }
    }
    hr{
        border-top: 1px solid $verde;
        width: 43rem;
    }
    p{
        color: $gris;
        span{
            font-weight: $bold;
        }
    }
}

.slider--img {
    img {
        width: 100%;
    }
    
}

//Content 1
.box {
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
}

.box--text {
    color: $blanco;
    padding: 0rem 0rem;
    p {
        font-size: $text;
        font-weight: $light;
    }
}

.franja-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-icon {
    width: 228px;
    text-align: center;
    background-color: $blanco;
    padding: 1rem 2rem;
    border-radius: 11px;
    box-shadow: 3px 3px 3px #5959594D;
    p {
        margin: 0;
    }
}
